/* Fonts */
.font-poppins{
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font-montserrat{
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font-varela{
    font-family: 'Varela Round', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Font Size */
.fs-1{
    font-size: .75rem;
}
.fs-2{
    font-size: .8rem;
}
.fs-3{
    font-size: 1rem;
}
.fs-4{
    font-size: 1.25rem;
}
.fs-5{
    font-size: 1.5rem;
}
.fs-6{
    font-size: 1.75rem;
}
.fs-7{
    font-size: 2rem;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.middle{
    vertical-align: middle;
}

.feather-1{
    width: .75rem;
    height: .75rem;
}
.feather-2{
    width: .8rem;
    height: .8rem;
}
.feather-3{
    width: 1rem;
    height: 1rem;
}
.feather-4{
    width: 1.25rem;
    height: 1.25rem;
}
.feather-5{
    width: 1.5rem;
    height: 1.5rem;
}
.feather-6{
    width: 1.75rem;
    height: 1.75rem;
}
.feather-7{
    width: 2rem;
    height: 2rem;
}
.feather-8{
    width: 3rem;
    height: 3rem;
}
.feather-stroke-1{
    stroke: 1;
}
.feather-filled{
    fill: currentColor;
    stroke: none;
}
.opacity-75{ 
    opacity: .75;
}

/* Navbar section */
.main-navbar{
    position: absolute;
    width: 100%;
    z-index: 999;
}
.main-navbar .nav-link{
    padding: 0.5rem 1.3rem !important;
    font-size: .9rem;
} 
.main-navbar.static{
    position: relative
}
.main-navbar .nav-item.active{ 
    background: #3a5fe4;
    border-radius: 2rem;
}

/* Hero Section */
.hero{ 
    position: relative;
}
.hero-background{
    width: 100%;
    height: 650px;
}
.hero-half .hero-background{
    height: 450px;
}
.hero-background img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.80) 0%, rgba(0,0,0,0) 100%);
    height: 100%;
    width: 100%;
}
.hero-features-wrapper{
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 100%;
    left: 0;
}
.hero-features{
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
}
.hero-carousel .owl-nav button.owl-next, .hero-carousel .owl-nav button.owl-prev{
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: .5rem;
    height: 50px !important;
    width: 60px !important;
    padding-top: 5px !important;
}
.hero-carousel .owl-nav button.owl-next:focus, .hero-carousel .owl-nav button.owl-prev:focus{
    outline: none;
}

/* Section */
section{
    position: relative
}
.section-40{
    padding-top: 40px;
    padding-bottom: 40px;
}
.section-60{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-80{
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-120{
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-140{
    padding-top: 140px;
    padding-bottom: 140px;
}
.section-100-130{
    padding-top: 100px;
    padding-bottom: 130px;
}

/* Button */
.btn-pills{
    border-radius: 2rem !important;
}
.btn-rounded{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    text-align: center;
    line-height: 3.1rem;
    border-radius: 50%;
}
.square-button{
    font-size: .1rem; 
    padding: .375rem .75rem;
}
.btn-icon{
    line-height: 0;
}
.btn-link:hover{
    background-color: var(--secondary)
}
.btn.disabled {
    opacity: 0.3
}
.btn-delete{
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: var(--white);
    color: #94979b;
    line-height: 0;
    border-radius: 50%;
    padding: 1rem;
}
.btn-delete:hover{
    background: var(--softgray);
    color: #5d5e61;
}
.btn-100{
    width: 150px;
}
.btn-flex{
    width: 250px;
}
.btn-flex i, .btn-flex svg{
    float: left;
}



/* Border */
.br-1{
    border-radius: .55rem;
}
.br-2{
    border-radius: 1.55rem;
}

/* Text Options */
.ls-1{
    letter-spacing: 1px;
}
.ls-2{
    letter-spacing: 2px;
}

/* Flex */
.flex-fill div{
    flex: 1 1 auto;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 0;
}
.media-fill{
    flex: 1;
}

/* shadow */
.shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);
}

.shadow-lg{
    box-shadow: 0px 8px 20px -5px rgba(20, 17, 43, 0.15)
}

.card-img-overlay{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 75%);
    border-radius: inherit;
}

.card-overlay{
    border: 0;
    background: transparent;
}
.card-overlay .card-body{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -3rem;
    border-radius: 1rem;
    position: relative;
    z-index: 2;

    background: var(--white)
}

.card-top-cta{
    border-radius: inherit;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    display:flex;
    flex-direction: column;
    padding:.5rem 1rem;
    padding-bottom: 1.5rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 75%);

}

.card.br-1 .card-img-top{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.background-image{
    background-size: cover !important
}

.flex-row{
    flex-direction: row;
}

.dark-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5)
}

/* Call To Action Section */
.cta-section input{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.cta-section button{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: -60px;
    z-index: 3;
    position: relative
}


/* Testimoni Section */
#testimoni .nav-pills .nav-link.active, #testimoni .nav-pills .show > .nav-link{
    background:transparent;
    color:  #2d2c30;
}
#testimoni .nav-pills .nav-link{
    color: #2d2c30;
}
#testimoni .nav-pills{
    flex-direction: column;
}
#testimoni .tab-content{
    padding: 0.5rem 0;
}
#testimoni .card{
    border-radius: .8rem;
}
#testimoni .card .arrow-wrapper{
    position: absolute;
    height: 100%;
    border-radius: .8rem;
    background: var(--darkblue);
    width: 40px;
    top:0;
    transition: .5s;
    right: 0;
    display: flex;
    align-items: center;
}
#testimoni .card .arrow-wrapper .arrow-icon{
    background: var(--primary);
    width: 35px;
    height: 35px;
    padding-left: 4px;
    padding-top: 4px;
    color: white;
    margin-left:-15px;
    border-radius: 50%;
}
#testimoni .nav-pills .nav-link.active .card .arrow-wrapper{
    width: calc(100% + 40px);
}
#testimoni .nav-pills .nav-link.active .card .card-body{
    position:relative; 
    z-index: 3;
    color: white;
}

.section-merge{
    padding-bottom: 20rem;
}
.section-merge-up{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-merge-up .merged{
    height: 160px;
    width: 100%;
    background: red;
    margin-top: -260px;
    background-color: transparent;
    position: relative;
    z-index: 3;
}
.section-merge-up .merged .row{
    height:100%;
    align-items: flex-end;
    align-content: flex-end;
}

/* Product Section */
#product #product-tab{
    background: #fff;
    padding: 0;
    height:100%;
    border-bottom: 0;
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
}
#product #product-tab .nav-link{
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    color: var(--darkblue);
    text-align: left;
}
#product #product-tab li:first-child{
    border-top-left-radius: 2.5rem;
}
#product #product-tab li:last-child{
    border-top-right-radius: 2.5rem;
}
#product #product-tab .nav-link.active{
    border: none;
    background-color: var(--darkblue);
    color: var(--white);
}
#product .nav-justified .nav-item{
    flex-basis: auto;
}

footer{
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
    color: var(--light);
}
footer .nav-link{
    padding-left: 0;
    padding-right: 0;
}

/* FORM */
.form-group-fill{
    flex: 1 0 auto !important;
}
.form-group-fill input, .form-group-fill select, .form-group-fill .form-control{
    width: 100% !important;
}

/* Owl Carousel Styles */
.owl-nav-center .owl-nav{
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(50% - 50px);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.owl-nav-center .owl-prev, .owl-nav-center .owl-next{
    width: 40px;
    height: 40px;
}
.owl-nav-center .owl-prev.disabled, .owl-nav-center .owl-next.disabled{
    opacity: .2;
}
.owl-nav-center .owl-nav object{
    width: 40px;
    height: 40px;
    pointer-events: none; 
}

/* Input */
.input-group-append{
    border-left: 0;
}

/* icons */
.gg-chevron-right {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.gg-chevron-right::after {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px
}

.gg-chevron-left {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.gg-chevron-left::after {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 6px;
    top: 4px
}

/* OUR PARTNER SECTION */
.our-partner{
    padding-top: 80px;
}
.mitra-carousel-wrapper{
    padding: 2rem 0;
    position:relative;
    z-index: 1;
}
.mitra-carousel-wrapper::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -99%;
    top: 0;
    background: inherit
}
.mitra-carousel.owl-nav-center .owl-nav{
    padding: 0;
    top: 0;
    height: 100%;
    align-items: center
}

.half-background{
    position: absolute;
    height: 100%;
    width: 80%;
    top: 0;
    left: 0;
    background-size: cover;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


/* MOBILE STYLE */
@media only screen and (max-width: 575px){

    .display-1{
        font-size: 3.5rem;
    }

    .display-2 {
        font-size: 3rem;
    }

    .display-3{
        font-size: 2.5rem;
    }

    .display-4{
        font-size: 2rem;
    }

    .section-merge-up .merged{
        height: 200px;
        margin-top: -300px;
    }

    .fs-1{
        font-size: .6rem;
    }
    .fs-2{
        font-size: .7rem;
    }
    .fs-3{
        font-size: .8rem;
    }
    .fs-4{
        font-size: 1rem;
    }
    .fs-5{
        font-size: 1.25rem;
    }
    .fs-6{
        font-size: 1.5rem;
    }
    .fs-7{
        font-size: 2rem;
    }

}


/* TABLET STYLE */

@media only screen and (max-width: 768px){
    .row-inline{
        overflow-x: auto;
        flex-wrap: nowrap !important;
        justify-content: flex-start !important;
    }
    .flex-xs-column{
        flex-direction: column;
    }
    .flex-xs-column div{
        margin-bottom: 1rem;
    }

}